.Routine {
  margin: 3rem auto;
  width: 95%;
  max-width: 50rem;
  border-radius: 6px;
  background-color: #000000;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
  color: white;
}

.Routine h1 {
  text-align: center;
  color: white;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  color: white;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  font: inherit;
  background-color: #ffffff;
  color: #070707;
  border-radius: 4px;
  border: 1px solid white;
  width: 100%;
  text-align: left;
  padding: 0.25rem;
}

.actionsSearch {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actionsSearch button {
  cursor: pointer;
  font: inherit;
  color: rgb(8, 8, 8);
  background-color: #ececec;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.actionsSearch button:hover {
  background-color: #030303;
  border-color: #f3f3f3;
}

.actionsSearch .toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: #f0f0f0;
  border: none;
  padding: 0.15rem 1.5rem;
}

.actionsSearch .toggle:hover {
  background-color: transparent;
  color: #b4b4b4;
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: rgb(8, 8, 8);
  background-color: #ececec;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.actions button:hover {
  background-color: #030303;
  border-color: #f3f3f3;
}

.actions .toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: #f0f0f0;
  border: none;
  padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
  background-color: transparent;
  color: #b4b4b4;
}
