.tableCenteredAlumno {
  margin: 2rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 70rem;
}

.newAlumno {
  padding-bottom: 1rem;
  border-bottom: 3px solid #000000;
  margin-bottom: 2rem;
}

.newAlumno button {
  font: inherit;
  color: rgb(3, 3, 3);
  border: 1px solid rgb(0, 0, 0);
  background-color: transparent;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

.newAlumno button:hover {
  background-color: #d6d6d6;
}
